/**
 * Sidebar
 */
#sidebar-wrapper {
    background: @sidebarBaseColor;
}
@media (min-width: 992px) {
  body {
    padding-left: @sidebarwidth;
  }
}
ul.sidebar .sidebar-main a,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
    /* Sidebar header and footer color */
    background: @sidebarHeaderColor;
}
.navmenu {
  height: 100%;
  padding-right: 0;
  margin-top: @headerheight;
  background: @sidebarBaseColor;
}
