<div class='col-xs-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2'>
  <div class="panel panel-primary">
    <div class="panel-heading ">
    </div>
    <div class="panel-body">
      <div ng-if="showBetween('2018-01-01','2018-04-01')">
        <p>Auditions for the Apple Hill 2018 season will take place March 31, 2018, at <b>Apple Hill Playhouse.</b></p>
        <div ng-include="'./panes/mainstageAuditionForm.html'"></div>
      </div>
      <div ng-if="showBetween('2018-04-01','2020-04-16')">
        <p>Auditions for the Apple Hill 2018 Mainstage season were held on March 31, 2018. Thank you to all who came out to audition!<br/>
        if you would still like to be considered for any available roles, please email 
        <a href="mailto:tstew@applehillplayhouse.org?subject=Audition form resume submission">tstew@applehillplayhouse.org</a>.
        </p>
      </div>


    </div>
  </div>